$ugly-sewage-green: #00695c;
$p-light-color: #439889;
$p-dark-color: #003d33;

$font-color: #002a25;

$secondary-color: #b2dfdb;
$tertiary-color: #d1ece9;
$s-light-color: #e5ffff;
$s-dark-color: #82ada9;

$grey: #ddd;


html {
  background-color: $secondary-color;
}