$ugly-sewage-green: #00695c;
$p-light-color: #439889;
$p-dark-color: #003d33;

$font-color: #002a25;

$secondary-color: #b2dfdb;
$tertiary-color: #d1ece9;
$s-light-color: #e5ffff;
$s-dark-color: #82ada9;

$grey: #ddd;


html {
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: $secondary-color;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
}

img {
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  border-bottom: 1px solid $p-dark-color;
  padding: 10px;
  margin-bottom: 80px;

  #logo {
    width: 72px;
    margin: 8px 8px 8px 16px;
  }

  .nav-right-container {
    display: flex;
    align-items: flex-end;
  }

  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    text-align: center;
    margin: 8px 16px;

    * {
      color: $p-dark-color;
      text-decoration: none;
      font-size: 16px;
    }
  }
}

#landing-container {
  margin: 0 12%;
  flex-grow: 1;

  section {
    display: flex;
    margin: 40px 0;
    padding: 10px 50px;
    color: $s-light-color;
    font-size: 2rem;

    
    &#intro, &#features{
      background-color: $p-dark-color;

      main, figure {
        width: 50%;
      }
    }
  
    &#demo{
      flex-direction: column;
      background-color: $p-dark-color;
      align-items: center;

      main, figure {
        width: 100%
      }
    }
    &#contact{
      display: flex;
      flex-direction: column;
      background-color: $p-dark-color;
      
      h1 {
        display: block;
      }
      
      .spectacular {
        display: flex;
        justify-content: space-around;
        gap: 50px;
        background-color: $secondary-color;

        &-person{
          display: flex;
          flex-direction: column;
          align-items: center;

          &-name{
            font-size: 1.5rem;
          }
          &-title{
            font-size: 1.2rem;
          }
          &-links{
            display: flex;
            justify-content: space-around;
            img {
              width: 20px;
              margin: 0 5px;
            }
          }
        }
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $p-dark-color;
  background-color: whitesmoke;
  padding: 8px 16px;
  img{
    height: 20px;
    width: auto;
    margin: 0 4px;
  }
  h1 {
    font-size: 12px;
    color: $p-dark-color
  }
}

#error-page {
  // makes the error page take up the whole page
  flex-grow: 1;
  text-align: center;
  img {
    width: 300px;
  }
}

#docs {
  flex-grow: 1;
  display: flex;

  &-sidebar{
    width: 280px;
    min-width: 280px;

    ul {
      list-style: none;
      margin: 0 32px;
      padding: 0;
    }

    li {
      margin: 8px 0;
      &.h1{
        font-size: 1.4rem;
      }
      &.h2{
        font-size: 1.2rem;
      }
      &.h3{
        font-size: 1rem;
      }
    }
  }

  &-main{
    background-color: $p-light-color;
    flex-grow: 1;
    padding: 8px 60px;

    *, *:before, *:after {
      box-sizing: border-box;
    }

    pre[class*="language-"] {
        position:relative;
        overflow: auto;
        margin:5px 0;
        padding:1.75rem 0 1.75rem 1rem;
        border-radius:10px;
    }
    
    button{
      position:absolute;
      top:5px;
      right:5px;
      
      font-size:.9rem;
      padding:.15rem;
      background-color:#828282;
      color:1e1e1e;
      border:ridge 1px #7b7b7c;
      border-radius:5px;
      text-shadow:#c4c4c4 0 0 2px;
    }
    
    button:hover{
      cursor:pointer;
       background-color:#bcbabb;
    }
    
    main {
      display: grid;
      max-width: 600px;
      margin: 20px auto;
    }
    
    
    h1{
      font-size:1.3rem;
    }

  }
}
